@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
.fui-FluentProvider {
    height: 100%;
    overflow: hidden;
}

* {
    user-select: none;
    -webkit-user-drag: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}